legend
  text-align: center

.field
  min-height: 500px
  margin: 0 10px

  &__chat
    min-height: 445px

.example-full-width
  margin: 0 10px

.btn
  align-self: start
  margin-top: 4px
  padding: 8px
