<div fxLayout="row">
  <div fxFlex="30%">
    <fieldset class="field">
      <legend>Online users</legend>
      <ul>
        <li *ngFor="let user of users">{{ user.displayName }}</li>
      </ul>
    </fieldset>
  </div>
  <div fxFlex="70%">
    <form (ngSubmit)="sendMessage()">
      <fieldset class="field field__chat">
        <legend>Chat room</legend>
        <div *ngFor="let message of messages">
          <b>{{ message.user.displayName }}</b>:
          {{ message.text }}
        </div>
      </fieldset>
      <div fxLayout="row">
      <mat-form-field class="example-full-width" fxFlex="85%" appearance="outline">
        <mat-label>Message</mat-label>
        <input matInput name="messageText" #message maxlength="256" [(ngModel)]="messageText">
        <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
      </mat-form-field>
      <button class="btn" fxFlex="10%" mat-raised-button color="primary" type="submit">Send</button>
      </div>
    </form>

  </div>
</div>
